/*font-family: 'Open Sans';*/

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

img 

li a:hover {
  background-color: #111;
}

body {
	font-family: 'Open Sans'
}


.container {
	width: 700px;
	margin-left: auto;
	margin-right: auto;
	height: 700px;
	padding-top: 40px;
	width:            750px;
	height:			  auto;
}


.active {
	background-color: rgba(255, 165, 143, 0.5);
}

.content {
	width: 660px;
	padding: 20px;
}

h2 {
	font-family: Verdana;
	font-size: 16px;
}


p {	
	line-height: 1.5em;
	font-size: 14pt;
}

img {
	float: left;
	margin-right: 20px;
	margin-bottom: 5px;
}